In [634]:
import pandas as pd
import itertools as it
import math

In [635]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1483,tt0449089,50000000,87528173,RV,Robin Williams|Cheryl Hines|Joanna 'JoJo' Leve...,Barry Sonnenfeld,One Family. Eight Wheels. No brakes.,Climbing aboard their mammoth recreational veh...,99,Comedy|Family|Adventure,Columbia Pictures,4/28/2006,5.7,2006
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008
246,tt1136608,30000000,210819611,District 9,Sharlto Copley|Jason Cope|Nathalie Boltt|Sylva...,Neill Blomkamp,You are not welcome here.,Aliens land in South Africa and have no way ho...,112,Action|Thriller|Science Fiction,WingNut Films|TriStar Pictures|Key Creatives|B...,8/5/2009,7.1,2009
1554,tt0417433,26000000,17496992,Annapolis,James Franco|Donnie Wahlberg|Jim Parrack|Tyres...,Justin Lin,"50,000 Apply. 1,200 Are Accepted. Only The Bes...","Jake Huard, from a shipbuilders family, promis...",108,Drama,Touchstone Pictures,1/27/2006,5.8,2006
1646,tt0362270,50000000,34808403,The Life Aquatic with Steve Zissou,Bill Murray|Anjelica Huston|Cate Blanchett|Wil...,Wes Anderson,"The deeper you go, the weirder life gets.",Wes Andersonâ€™s incisive quirky comedy build ...,119,Adventure|Comedy|Drama,Touchstone Pictures,12/10/2004,7.0,2004

In [636]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [637]:
answers = {} # создадим словарь для ответов

# function converts month to season
def season_from_month(month):
    if 3 <= month < 6:
        return 'spring'
    elif 6 <= month < 9:
        return 'summer'
    elif 9 <= month < 12:
        return 'autumn'
    else:
        return 'winter'

# profit calc
data['profit'] = data['revenue'] - data['budget']

# convert string to array of values
data.genres = data['genres'].apply(lambda x: x.split('|'))
data.director = data['director'].apply(lambda x: x.split('|'))
data.cast = data['cast'].apply(lambda x: x.split('|'))
data.production_companies = data['production_companies'].apply(lambda x: x.split('|'))

# extract month from date
data['month'] = data['release_date'].apply(lambda x: int(x.split('/')[0]))

# store season from month
data['season'] = data['month'].apply(season_from_month)

# store title length
data['original_title_length'] = data['original_title'].apply(lambda x: len(x))

# store overview words count
data['overview_words'] = data['overview'].apply(lambda x: len(x.split(" ")))

# store list of cast combinations
data['cast_combinations'] = data['cast'].apply(lambda x: list(it.combinations(x, 2)))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [638]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [639]:
data[data.budget == data.budget.max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [640]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [641]:
data[data.runtime == data.runtime.max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [642]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [643]:
data[data.runtime == data.runtime.min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [644]:
answers['4'] = 109.6585494970884

In [645]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [646]:
answers[5] = 107.0

In [647]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [648]:
answers[6] = '239. Avatar (tt0499549)'

In [649]:
data[data.profit == data.profit.max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [650]:
answers[7] = '239. The Lone Ranger (tt1210819)'

In [651]:
data[data.profit == data.profit.min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [652]:
answers[8] = '1478'

In [653]:
data[data.revenue > data.budget].imdb_id.nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [654]:
answers[9] = '599. The Dark Knight (tt0468569)'

In [655]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()][['imdb_id', 'original_title', 'revenue']]

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [656]:
answers[10] = '1245. The Lone Ranger (tt1210819)'

In [657]:
data_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()][['imdb_id', 'original_title', 'revenue']]

        imdb_id   original_title   revenue
1245  tt1210819  The Lone Ranger  89289910

# 11. Какого жанра фильмов больше всего?

In [658]:
answers[11] = 'Drama'

In [659]:
data.explode('genres')['genres'].describe().top

'Drama'

ВАРИАНТ 2

In [660]:
movies_by_genre = data.explode('genres').groupby(['genres']).agg({'imdb_id': 'count'}).reset_index()
movies_by_genre.columns = ['genre', 'movies']
movies_by_genre[movies_by_genre.movies == movies_by_genre.movies.max()]

   genre  movies
6  Drama     782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [661]:
answers[12] = 'Drama'

In [662]:
profitable_by_genre = data[data.profit > 0].explode('genres').groupby(['genres']).agg(
    {'imdb_id': 'count'}).reset_index()
profitable_by_genre.columns = ['genre', 'movies']
profitable_by_genre[profitable_by_genre.movies == profitable_by_genre.movies.max()]

   genre  movies
6  Drama     560

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [663]:
answers[13] = 'Peter Jackson'

In [664]:
revenue_by_director = data.explode('director').groupby(['director']).agg({'revenue': 'sum'}).reset_index()
revenue_by_director.columns = ['director', 'revenue']

revenue_by_director[revenue_by_director.revenue == revenue_by_director.revenue.max()]

          director     revenue
727  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [665]:
answers[14] = 'Robert Rodriguez'

In [666]:
data_with_genres = data.explode('genres').explode('director')
action_movies_by_director = data_with_genres[data_with_genres.genres == 'Action'].groupby(['director']).agg({'imdb_id': 'count'}).reset_index()
action_movies_by_director.columns = ['director', 'movies']

data_with_genres[data_with_genres.genres == 'Action'].director.describe().top

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [667]:
answers[15] = 'Chris Hemsworth'

In [668]:
revenue_2012_by_cast = data[data.release_year == 2012].explode('cast').groupby(['cast']).agg({'revenue': 'sum'}).reset_index()
revenue_2012_by_cast[revenue_2012_by_cast.revenue == revenue_2012_by_cast.revenue.max()]

               cast     revenue
77  Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [669]:
answers[16] = 'Matt Damon'

In [670]:
high_budget_by_cast = data[data.budget > data.budget.mean()].explode('cast').groupby(['cast']).agg({'imdb_id': 'count'}).reset_index()
high_budget_by_cast.columns = ['cast', 'movies']
high_budget_by_cast[high_budget_by_cast.movies == high_budget_by_cast.movies.max()]

           cast  movies
965  Matt Damon      18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [671]:
answers[17] = 'Action'

In [672]:
cast_movies = data.explode('cast')
nicolas_cage_movies_by_genre = cast_movies[cast_movies.cast == 'Nicolas Cage'].explode('genres').groupby(['genres']).agg({'imdb_id': 'count'}).reset_index()
nicolas_cage_movies_by_genre.columns = ['genre', 'movies']
nicolas_cage_movies_by_genre[nicolas_cage_movies_by_genre.movies == nicolas_cage_movies_by_genre.movies.max()]

    genre  movies
0  Action      17

# 18. Самый убыточный фильм от Paramount Pictures

In [673]:
answers[18] = '925. K-19: The Widowmaker (tt0267626)'

In [674]:
product_company_movies = data.explode('production_companies')
paramount_pictures_movies = product_company_movies[product_company_movies.production_companies == 'Paramount Pictures']
paramount_pictures_movies[paramount_pictures_movies.profit == paramount_pictures_movies.profit.min()][
            ['imdb_id', 'original_title', 'profit']]

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [675]:
answers[19] = 2015

In [676]:
revenue_by_release_year = data.groupby(['release_year']).agg({'revenue': 'sum'}).reset_index()
revenue_by_release_year[revenue_by_release_year.revenue == revenue_by_release_year.revenue.max()]

    release_year      revenue
15          2015  25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [677]:
answers[20] = 2014

In [678]:
product_company_movies = data.explode('production_companies')

warner_profit_by_release_year = product_company_movies[
    product_company_movies.production_companies.str.match('Warner Bros')
].groupby(['release_year']).agg({'profit': 'sum'}).reset_index()

warner_profit_by_release_year[
    warner_profit_by_release_year.profit == warner_profit_by_release_year.profit
        .max()
]

    release_year      profit
14          2014  2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [679]:
answers[21] = 'Сентябрь'

In [680]:
movies_by_month = data.groupby(['month']).agg({'imdb_id': 'count'}).reset_index()
movies_by_month.columns = ['month', 'movies']
movies_by_month[movies_by_month.movies == movies_by_month.movies.max()]

   month  movies
8      9     227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [681]:
answers[22] = 450

In [682]:
data[data.season == 'summer'].imdb_id.nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [683]:
answers[23] = 'Peter Jackson'

In [684]:
movies_by_season = data.explode('season')
winter_movies_by_director = movies_by_season[movies_by_season.season == 'winter'].explode('director'). \
    groupby(['director']).agg({'imdb_id': 'count'}).reset_index()
winter_movies_by_director.columns = ['director', 'movies']
winter_movies_by_director[winter_movies_by_director.movies == winter_movies_by_director.movies.max()]

          director  movies
265  Peter Jackson       7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [685]:
answers[24] = 'Four By Two Productions'

In [686]:
title_length_by_company = data.explode('production_companies').groupby('production_companies') \
    .agg({'original_title_length': 'mean'}).reset_index()

title_length_by_company[
        title_length_by_company.original_title_length == title_length_by_company.original_title_length.max()]

        production_companies  original_title_length
583  Four By Two Productions                   83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [687]:
answers[25] = 'Midnight Picture Show'

In [688]:
overview_words_by_company = data.explode('production_companies').groupby('production_companies') \
    .agg({'overview_words': 'mean'}).reset_index()

overview_words_by_company[
        overview_words_by_company.overview_words == overview_words_by_company.overview_words.max()]

       production_companies  overview_words
1041  Midnight Picture Show           175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [689]:
answers[26] = 'Inside Out, The Dark Knight, 12 Years a Slave верно'

In [690]:
sorted_by_vote_average = data.sort_values(by=['vote_average'], ascending=False)[
    ['imdb_id', 'original_title', 'vote_average']]
top_1_index = math.ceil(len(sorted_by_vote_average) / 100)
top_1_percent = sorted_by_vote_average[0:top_1_index]

top_1_percent

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight           8.1
118   tt0816692                                   Interstellar           8.0
125   tt2084970                             The Imitation Game           8.0
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
1183  tt0993846                        The Wolf of Wall Street           7.9
128   tt2267998                                      Gone Girl           7.9
1191  tt2024544                               12 Years a Slave           7.9
119   tt2015381                        Guardians of the Galaxy           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1800  tt0209144                                        Memento           7.9
370   tt1375666                                      Inception           7.9
872   tt0253474                                    The Pianist           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
1188  tt1798709                                            Her           7.8
28    tt1895587                                      Spotlight           7.8
124   tt2245084                                     Big Hero 6           7.8
177   tt2582846                         The Fault in Our Stars           7.8
863   tt0167261          The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [691]:
answers[27] = 'Daniel Radcliffe, Rupert Grint'

In [692]:
movies_by_cast_comb = data.explode('cast_combinations').groupby(['cast_combinations']).agg(
    {'imdb_id': 'count'}).reset_index()
movies_by_cast_comb.columns = ['cast', 'movies']
movies_by_cast_comb[movies_by_cast_comb.movies == movies_by_cast_comb.movies.max()]

                                  cast  movies
3975   (Daniel Radcliffe, Emma Watson)       8
3990  (Daniel Radcliffe, Rupert Grint)       8


ВАРИАНТ 2

Задачу можно решить циклами и Counter, но честно говоря - лень, извините :)

# Submission

In [693]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 5: 107.0,
 6: '239. Avatar (tt0499549)',
 7: '239. The Lone Ranger (tt1210819)',
 8: '1478',
 9: '599. The Dark Knight (tt0468569)',
 10: '1245. The Lone Ranger (tt1210819)',
 11: 'Drama',
 12: 'Drama',
 13: 'Peter Jackson',
 14: 'Robert Rodriguez',
 15: 'Chris Hemsworth',
 16: 'Matt Damon',
 17: 'Action',
 18: '925. K-19: The Widowmaker (tt0267626)',
 19: 2015,
 20: 2014,
 21: 'Сентябрь',
 22: 450,
 23: 'Peter Jackson',
 24: 'Four By Two Productions',
 25: 'Midnight Picture Show',
 26: 'Inside Out, The Dark Knight, 12 Years a Slave верно',
 27: 'Daniel Radcliffe, Rupert Grint'}

In [694]:
# и убедиться что ни чего не пропустил)
len(answers)

27